opencv-python-headless
mss
dataclasses
ftfy
regex
fasttext
scikit-learn
lvis
nltk
easyocr
timm
transformers
accelerate
open_clip_torch
git+https://github.com/openai/CLIP.git

# For Eval
diffusers

# For CN Version
cnocr

# For Openai
openai

# For GLM
zhipuai